{# src/Gadi/SiteBundle/Resources/views/Blog/menu.html.twig #}
 
<h3>Menu</h3>
 
<ul class="nav nav-pills nav-stacked">
    <li><a href="{{ path('gadisite_ajouter', {'type': "enseignant"}) }}">{{ "Ajouter enseignant" }}</a></li>
	<li><a href="{{ path('gadisite_ajouter', {'type': "typeEn"}) }}">{{ "Ajouter type enseignant" }}</a></li>
	<li><a href="{{ path('gadisite_ajouter', {'type': "etudiant"}) }}">{{ "Ajouter etudiant" }}</a></li>
	<li><a href="{{ path('gadisite_ajouter', {'type': "quotaGroupe"}) }}">{{ "Ajouter un quota groupe" }}</a></li>
</ul>