{# src/Gadi/SiteBundle/Resources/views/Blog/menu.html.twig #}
 
<h3>Menu</h3>
<h4>Ajouter</h4> 
<ul class="nav nav-pills nav-stacked">
	{% if is_granted('ROLE_SUPER_ADMIN') %}
    <li><a href="{{ path('gadisite_ajouter', {'type': "semestre"}) }}">{{ "Ajouter un semestre" }}</a></li>
	<li><a href="{{ path('gadisite_ajouter', {'type': "typeEn"}) }}">{{ "Ajouter type enseignant" }}</a></li>
	<li><a href="{{ path('gadisite_ajouter', {'type': "enseignant"}) }}">{{ "Ajouter enseignant" }}</a></li>
	<li><a href="{{ path('gadisite_ajouter', {'type': "groupe"}) }}">{{ "Ajouter un groupe" }}</a></li>
	<li><a href="{{ path('gadisite_ajouter', {'type': "etudiant"}) }}">{{ "Ajouter etudiant" }}</a></li>
    {% endif %}
	{% if is_granted('ROLE_ENSEIGNANT') %}
	<li><a href="{{ path('gadisite_ajouter', {'type': "cours"}) }}">{{ "Ajouter un cours" }}</a></li>
    {% endif %}
	{% if is_granted('ROLE_RESP_MODULE') %}
	<li><a href="{{ path('gadisite_ajouter', {'type': "module"}) }}">{{ "Ajouter un module" }}</a></li>
    {% endif %}
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	<li><a href="{{ path('gadisite_ajouter', {'type': "quotagroupe"}) }}">{{ "Créer un quota groupe" }}</a></li>
    {% endif %}
	{% if is_granted('ROLE_SECRETARIAT') %}
	<li><a href="{{ path('gadisite_ajouter', {'type': "quotaenseignant"}) }}">{{ "Créer quota enseignant" }}</a></li>
    {% endif %}
</ul>

<h4>Consulter</h4>
<ul class="nav nav-pills nav-stacked">
	<li><a href="{{ path('gadisite_voir', {'type': "cours"}) }}">{{ "Consulter cours" }}</a></li>
	<li><a href="{{ path('gadisite_voir', {'type': "quotagroupe"}) }}">{{ "Consulter quota groupe" }}</a></li>
	<li><a href="{{ path('gadisite_voir', {'type': "enseignant"}) }}">{{ "Consulter enseignant" }}</a></li>
</ul>